body {
    background-color: #2a81e2;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    background-color: #2a81e2;
    text-align: center;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    /* height: 100%; */
    /* position: fixed; */
}
h1 {
    color: aliceblue;
    margin: 0;
    padding: 20px 0;
}
button {
    all: unset;
    color: aliceblue;
    margin: 0 5px;
}
#hamberger-menu {
    font-size: 2em;
    text-decoration: double;
}
.link-button {
    display: none;
    margin: 2px auto;
    width: 50px;
    padding: 10px;
    background-color: #1d5ca5;
    border: #cccccc 2px solid;
}
button:hover {
    cursor: pointer;
}
div {
    background-color: #cccccc;
}
#images {
    background-color: #cccccc;
    display: grid;
    grid-template-columns: 1fr;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 10px auto;
  border: 5px solid aliceblue;
  box-shadow: 1px 1px 1px 1px;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    overflow: hidden;
}
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
.close-viewer {
    position: absolute;
    top: 15vh;
    right: 2vh;
    font-size: 2em;
    background-color: #1d5ca5;
    color: white;
    width: 40px;
    height: 40px;
    border: #cccccc 2px solid;
}
.close-viewer:hover {
    border: #cccccc 4px solid;
    width: 36px;
    height: 36px;
}
footer {
    margin: 0;
}
#copyright {
    margin: 0;
    padding: 5px 0;

}


@media screen and (min-width: 700px){
    #images {
        grid-template-columns: 1fr 1fr;
    }
    dialog img {
        height: 60%;
    }
}
@media screen and (min-width: 1250px){
    header  {
        position: fixed;
        width: 100%;
    }
    #hamberger-menu {
        display: none;
    }
    .link-button {
        display: inline;
        margin-bottom: 15px;
    }
    h2 {
        padding-top: 150px;
    }
    #images {
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto 150px;
    }
    dialog img {
        height: 75%;
    }
    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        background-color: #2a81e2;
    }
}