/*   Colors are as follows 
     Green colors: #9FCFA5, #8FA591, #73C07C, #567A5A, #2B502F, #133316 
     Brown colors: #83503f, #ab9475, #85703e, #b0875e, #654432 */
/* pastel colors: #B8AC6F, #B87A75, #7A77B8, #7AB894, #636053 
    pastel color link: https://color.adobe.com/create/color-wheel?color-palette=B8AC6F%2CB87A75%2C7A77B8%2C7AB894%2C636053&color-palette-name=My+Color+Theme-->
*/
:root {
    --text-color: black;
    --heading-color: black;
    --heading-background-color: #B87A75;
    --accent-color: #7A77B8; 
    --card-background-color: #7AB894;
    --whitespace-color: #dcdbda;
    --border-color: black;
    /* brown colors...
    --text-color: black;
    --heading-color: #83503f;
    --heading-background-color: #b0875e;
    --accent-color: #654432; */
}
/* boilerplate */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--whitespace-color);
}
button {
    background-color: var(--accent-color);
    color: white;
    padding: 5px;
    margin: 0 5px 0 5px;
    border: white 1px solid;
    text-decoration: none;
    text-align: center;
}
button:hover {
    cursor: pointer;
    border: white 3px solid;
    padding: 3.4px;
}
a {
    color: black;
    text-decoration: none;
}
p {
    color: var(--text-color);
    padding-left: 5px;
    padding-right: 5px;
}
a:hover {
    cursor: pointer;
}
.hide {
    display: none !important;
}

/* styling */
nav {
    background-color: var(--heading-background-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
h1 {
    font-family: "Dancing Script", cursive;
    margin: 20px 0 0 20px;
    grid-column: 1/-1;
}
nav a:first-of-type {
    margin-left: 20px;
}
nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    color: white;
    padding: 5px;
    margin: 5px;
    border: white 1px solid;
    /* text-align: center; */
}
nav a:last-of-type {
    margin-right: 20px;
}
nav a:hover {
    cursor: pointer;
    border: white 3px solid;
    padding: 3px;
}
#search-forum {
    display: flex;
    text-align: left;
    margin: 5px 20px 5px 20px;
    grid-column: 1/-1;
}
#search-bar {
    flex-grow: 1;
    min-height: 20px;
    width: 256px;
    border-radius: 5px;
    font-size: 1.25em;
    background-color: var(--whitespace-color);
}

#blacklist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: green;
    border: solid 2px var(--border-color);
    width: 80%;
    margin: 0 auto;
}
.short-title {
    grid-column: 1/2;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: black;
}
.long-title {
    grid-column: 1/3;
    color: white;
    text-align: center;
    padding: 0 auto;
    background-color: black;
}
#blacklist label {
    user-select: none;
    width: 100%;
    border: 1px solid var(--border-color);   
}
input[type = "checkbox"] {
    position: relative;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--border-color);
    border-radius: 15%;
    margin-top: 3px;
    margin-left: 5px;
    background-color: white;
    accent-color: darkred;
    cursor: pointer;
}
input[type = "checkbox"]::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 40%;
    width: 10px;
    height: 5px;
    border-bottom: 2px darkgreen solid;
    border-left: 2px darkgreen solid;
    transform: translate(-50%, -50%) rotate(-45deg);
}
input[type = "checkbox"]:checked {
    background-color: black;
}
input[type = "checkbox"]:checked::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 15px;
    /* border bottom and left hides the checkmark from earlier */
    border-bottom: none;
    border-left: none;
    background: red;
    transform: translate(-50%, -50%) rotate(-45deg);
}
input[type = "checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 15px;
    background: red;
    transform: translate(-50%, -50%) rotate(45deg);
}
.exclude-checked {
    background-color: red;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: circle;
}
li {
    padding: 5px;
    border: solid var(--border-color) 1px;
    margin: 10px 40px;
    /* margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px; */
}

.card {
    border: solid 2px var(--border-color);
    border-radius: 15px;
    box-shadow: 0 15px 15px 0 rgba(0,0,0,.15);
    width: 303px;
    padding-bottom: 5px;
    margin: 20px auto;
    background-color: var(--card-background-color);
}
.recipe-link {
    display: flex;
    flex-direction: column;
}
.preview-div {
    max-width: 300px;
}
h2 {
    font-family: Quintessential, serif;
    color: var(--heading-color);
    background-color: var(--heading-background-color);
    border-radius: 15px 15px 0 0;
    padding-left: 5px;
}
.recipe-preview {
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.image-description{
    max-width: 300px;
}
.info-div {
    flex-grow: 1;
}
.info-title {
    background-color: var(--heading-background-color);
}

.crossed-out {
    text-decoration: line-through;
    color: lightslategrey;
}

footer {
    background-color: var(--heading-background-color);
}

@media (min-width: 700px) {
    nav {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    nav a:last-of-type {
        margin-right: 5px;
    }
    #search-forum {
        grid-column: auto;
        margin: 5px 20px 5px 5px;
    }
    .card {
        width: 67%;
    }
    .recipe-link{
        flex-direction: row;
    }
    h2 {
    border-radius: 15px 0 0 0;
    }
    hr {
        display: none;
    }
    .info-title{
        border-radius: 0 15px 0 0;
    }
}