/*   Colors are as follows 
     Green colors: #9FCFA5, #8FA591, #73C07C, #567A5A, #2B502F, #133316 
     Brown colors: #83503f, #ab9475, #85703e, #b0875e, #654432 */
/* boilerplate */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
/* styling */
nav {
    background-color: #b0875e;
}

.crossed-out {
    text-decoration: line-through;
    color: lightslategrey;
}